@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en-us" data-ng-app="smartApp">
    <head>
        <meta charset="utf-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

        <title> SmartAdmin </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="/content/account/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/content/account/css/font-awesome.min.css">

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="/content/account/css/smartadmin-production.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/content/account/css/smartadmin-skins.min.css">

        <!-- SmartAdmin RTL Support is under construction-->
        <link rel="stylesheet" type="text/css" media="screen" href="/content/account/css/smartadmin-rtl.min.css">

        <!-- We recommend you use "your_style.css" to override SmartAdmin
            specific styles this will also ensure you retrain your customization with each SmartAdmin update.
            <link rel="stylesheet" type="text/css" media="screen" href="/content/account/css/your_style.css"> -->
        <!-- Goes with demo.js, you can delete this css when designing your own WebApp -->
        <link rel="stylesheet" type="text/css" media="screen" href="/content/account/css/demo.min.css">

        <!-- FAVICONS -->
        <link rel="shortcut icon" href="/content/account/img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/content/account/img/favicon/favicon.ico" type="image/x-icon">

        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

        <!-- Specifying a Webpage Icon for Web Clip
            Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
        <link rel="apple-touch-icon" href="/content/account/img/splash/sptouch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/content/account/img/splash/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/content/account/img/splash/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/content/account/img/splash/touch-icon-ipad-retina.png">

        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="/content/account/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="/content/account/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="/content/account/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    </head>
    <body class="" data-ng-controller="SmartAppController">
        <!-- POSSIBLE CLASSES: minified, fixed-ribbon, fixed-header, fixed-width, top-menu
            You can also add different skin classes such as "smart-skin-0", "smart-skin-1" etc...-->
        <!-- HEADER -->
        <header id="header" data-ng-include="'/content/account/includes/header.html'"></header>
        <!-- END HEADER -->
        <!-- Left panel : Navigation area -->
        <!-- Note: This width of the aside area can be adjusted through LESS variables -->
        <aside id="left-panel"><span data-ng-include="'/content/account/includes/left-panel.html'"></span></aside>
        <!-- END NAVIGATION -->
        <!-- MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <div id="ribbon" data-ng-include="'/content/account/includes/ribbon.html'" data-ribbon=""></div>
            <!-- END RIBBON -->
            <!-- MAIN CONTENT -->
            <div id="content" data-ng-view="" class="view-animate"></div>
            <!-- END MAIN CONTENT -->

        </div>
        <!-- END MAIN PANEL -->
        <!-- PAGE FOOTER -->
        <div class="page-footer"><span data-ng-include="'/content/account/includes/footer.html'"></span></div>
        <!-- END FOOTER -->
        <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
            Note: These tiles are completely responsive,
            you can add as many as you like
            -->
        <div id="shortcut"><span data-ng-include="'/content/account/includes/shortcut.html'"></span></div>
        <!-- END SHORTCUT AREA -->
        <!--================================================== -->
        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
            <script data-pace-options='{ "restartOnRequestAfter": true }' src="/scripts/accountapp/plugin/pace/pace.min.js"></script>-->
        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            if (!window.jQuery) {
                document.write('<script src="/scripts/jquery-2.1.1.min.js"><\/script>');
            }
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="/scripts/jquery-ui-1.10.4.min.js"><\/script>');
            }
        </script>

        <!-- MAIN APP JS FILE -->
        <script src="/Scripts/accountapp/app.config.js"></script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
        <script src="/scripts/accountapp/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

        <!-- BOOTSTRAP JS -->
        <script src="/scripts/bootstrap.min.js"></script>

        <!-- CUSTOM NOTIFICATION -->
        <script src="/scripts/accountapp/notification/SmartNotification.min.js"></script>

        <!-- JARVIS WIDGETS -->
        <script src="/scripts/accountapp/smartwidgets/jarvis.widget.min.js"></script>

        <!-- EASY PIE CHARTS -->
        <script src="/scripts/accountapp/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

        <!-- SPARKLINES -->
        <script src="/scripts/accountapp/plugin/sparkline/jquery.sparkline.min.js"></script>

        <!-- JQUERY VALIDATE -->
        <script src="/scripts/accountapp/plugin/jquery-validate/jquery.validate.min.js"></script>

        <!-- JQUERY MASKED INPUT -->
        <script src="/scripts/accountapp/plugin/masked-input/jquery.maskedinput.min.js"></script>

        <!-- JQUERY SELECT2 INPUT -->
        <script src="/scripts/accountapp/plugin/select2/select2.min.js"></script>

        <!-- JQUERY UI + Bootstrap Slider -->
        <script src="/scripts/accountapp/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

        <!-- browser msie issue fix -->
        <script src="/scripts/accountapp/plugin/msie-fix/jquery.mb.browser.min.js"></script>

        <!-- FastClick: For mobile devices: you can disable this in app.js -->
        <script src="/scripts/accountapp/plugin/fastclick/fastclick.min.js"></script>

        <!--[if IE 8]>
            <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
        <![endif]-->
        <!-- AngularJS -->
        <script src="/scripts/angular.js"></script>
        <script src="/scripts/angular-route.js"></script>
        <script src="/scripts/angular-animate.js"></script>
        <script src="/scripts/accountapp/libs/angular/ui-bootstrap-custom-tpls-0.11.0.js"></script>

        <!-- ANGULAR: Handled via "ribbon" directive
            <script src="js/demo.js"></script>-->
        <!-- MAIN APP JS FILE -->
        <script src="/Scripts/accountapp/app.js"></script>

        <!-- MAIN ANGULAR JS FILE -->
        <script src="/scripts/accountapp/ng/ng.app.js"></script>
        <script src="/scripts/accountapp/ng/ng.controllers.js"></script>
        <script src="/scripts/accountapp/ng/ng.directives.js"></script>

        <!-- PLUNKER -->
        <script src="/scripts/accountapp/ng/plunker.js"></script>

        <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
        <!-- Voice command : plugin -->
        <script src="/scripts/accountapp/speech/voicecommand.min.js"></script>

        <!-- Your GOOGLE ANALYTICS CODE Below -->
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>

</html>

@*@using System.Globalization
@model NgTrade.Models.ViewModel.AccountViewModel

@{
  ViewBag.Title = "Nigerian Stock Exchange Trading Online NSE Daily Price List - NgTradeOnline Account Profile";
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="@Url.Action("Index", "Account")">Personal Info</a></li>
                    <li><a href="@Url.Action("Refer", "Account")">Refer a friend</a></li>
                    <li><a href="@Url.Action("Portfolio", "Account")">Portfolio</a></li>
                    <li><a href="@Url.Action("Trade", "Account")">Trade</a></li>
                </ul>
                <h4 class="widget-header"><i class="icon-lock"></i>Personal information</h4>
                <div class="widget-body">
                    <div class="center-align">
                        <table class="table">
                            <tr>
                                <td>User name:</td>
                                <td>@Model.AccountName</td>
                            </tr>
                            <tr>
                                <td>Account balance:</td>
                                <td>@String.Format(CultureInfo.InvariantCulture, "{0,0}", Model.Balance) Naira</td>
                            </tr>
                            <tr>
                                <td>Name:</td>
                                <td>@Model.FirstName @Model.LastName</td>
                            </tr>
                            <tr>
                                <td>Email address:</td>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>@Model.Address1 @Model.Address2</td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>@Model.City</td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td>@Model.State</td>
                            </tr>
                            <tr>
                                <td>Country
                                <td>@Model.Country</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>@Model.Phone</td>
                            </tr>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

