@*@model NgTrade.Models.LoginModel

@{
  ViewBag.Title = "Log in";
}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="span6 offset3">
        <h4 class="widget-header"><i class="icon-lock"></i> Sign in to NgTradeOnline</h4>
        <div class="widget-body">
          <div class="center-align">
            @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-signin-signup" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
              @Html.LabelFor(m => m.UserName)
              @Html.TextBoxFor(m => m.UserName, new { @placeholder = "User name", @required = "true" })
              @Html.LabelFor(m => m.Password)
              @Html.PasswordFor(m => m.Password, new { @class = "Password", @required = "true"})
              <div class="remember-me">
                <div class="pull-left">
                   <label class="checkbox" for="RememberMe">
                        <input name="RememberMe" id="RememberMe" type="checkbox"> Remember me
                      </label>
                </div>
                  <div class="pull-right">
                      @Html.ActionLink("Forgot password?", "ForgotPassword", "Account")
                  </div>
                <div class="clearfix"></div>
              </div>
              <input type="submit" value="Sign in" class="btn btn-success btn-large">
            }
            <h4><i class="icon-question-sign"></i> Don't have an account?</h4>
            @Html.ActionLink("Signup for an account", "Register")
            <h4><i class="icon-thumbs-up"></i> Sign in with:</h4>
            @Html.Action("ExternalLoginsList", new { ViewBag.ReturnUrl })

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="reg-header">
                <h4>Login to your NgTradeOnline account</h4>
            </div>
            <form name="loginForm" novalidate>

                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" name="username" placeholder="Username" class="form-control" data-ng-model="username" required />
                    <span class="errorMessage" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
                        Email is required
                    </span>
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="password" placeholder="Password" class="form-control" data-ng-model="password" data-ng-minlength="6" required />
                    <span class="errorMessage" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                        Password is required
                    </span>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="checkbox"><input type="checkbox"> Stay signed in</label>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn-u pull-right" data-ng-click="login()" ng-disabled="loginForm.$invalid || !loginForm.$dirty">Login</button>
                    </div>
                </div>

                <hr>

                <h4>Forget your Password ?</h4>
                <p>no worries, <a class="color-green" href="#">click here</a> to reset your password.</p>
            </form>
        </div>
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->